
.footer {
  background-color: #000000;
  position: relative;
  width: 100%;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size:10px;
}

.text:hover{
  color: rgb(255, 255, 255);
}


.text{
  color:rgb(9, 176, 9);
}
