.footer {
  background-color: #000000;
  position: relative;
  width: 100%;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 10px;
}

.textt:hover {
  color: rgb(255, 255, 255);
}

.textt {
  color: rgb(9, 176, 9);
  margin: 10px;
}
