h1{
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 70px;
  text-align: center;
  text-decoration: none;
  margin-bottom:20px;
 
}

.text-center{
  color:white;
}

a:link {
  text-decoration: none;
}


.justify-content-center:hover {
  color: #22a611;
}

.headerr{
background-image:url("https://images.unsplash.com/photo-1497211419994-14ae40a3c7a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
padding-bottom:40px;
padding-top:50px;
margin-bottom:60px;
}
