h1 {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 70px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}

h1.display-1.text-center {
  color: rgb(22, 163, 3);
}

a {
  color: rgb(12, 178, 0);
}

a:link {
  text-decoration: none;
}

.justify-content-center:hover {
  color: #22a611;
}

.headerr {
  padding-bottom: 40px;
  padding-top: 50px;
  /* margin-bottom:60px; */
}
