/* body {
    font-size: 0.875rem;
    background-color: #b9ac92;
  border-top: 2px solid #fbe6d4;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  padding: 20px;
  text-decoration: none;
} */
  


.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
  }
